export(describe.mlogit)
export(describe.mprobit)
S3method(param, mlogit)
S3method(param, mprobit)
S3method(qi, mlogit)
S3method(qi, mprobit)
export(zelig2mlogit)
export(zelig2mprobit)
export(UPDATE.CALL.FORMULA)
importFrom(Zelig, describe, param, qi)
